body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
    
    padding: 0;
    margin: 0;
}

.main-page {
    display: flex;
    height: 95vh;
}

.main-page .filler {
    min-width: 15vw;
}

.game {
    width: 70vw;
    margin-bottom: 32px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    gap: 32px;
}

.game header h1 {  
    padding: 40px 0px;
    margin: 0;
}

.score {
    margin-bottom: 32px;
}

.score section {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.score section p {
    font-size: 24px;
    min-width: 100px;
}

.score #points {
    font-family: monospace;
    font-size: 72px;
    margin: 0;
}

.options {
    display: flex;
    justify-content: space-evenly;
}

.options .opt-btn {
    padding: 20px;
    font-size: 64px;
    font-weight: bold;
    min-width: 126px;
    height: 126px;
}

.opt-btn-hover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}

.play {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    width: 100vw;
    height: 95vh;
    backdrop-filter: blur(8px);

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    gap: 128px;
}

.play .play-h1 {
    margin-top: 96px;

    font-size: 64px;
    text-transform: uppercase;
}

.grey-txt {
    color: grey;
}

.play p {
    margin: 0;
    margin-top: -70px;
    padding: 0;

    font-size: 40px;
}

.play #how-to {
    margin-top: -128px;
    text-decoration: underline;
}

.how-to-link:hover {
    font-size: 42px;
}

.how-to-link {
    text-transform: none;
    color: inherit;
}

.play #start-btn {
    font-size: 18px;
    padding: 16px 32px;
    border-radius: 6px;
    transform: scale(1);
    transition: all 0.15s;
}

.play #start-btn:hover {
    font-size: 20px;
    font-weight: bold;
    transform: scale(1.05);
    transition: all 0.15s;
}

.play-p,
.play .play-p {
    margin: 0;
    padding: 10px 0px;

    font-size: 40px;
    text-align: center;
}

.instructions,
.play .instructions {
    position: absolute;
    top: 5vh;
    left: 25vw;
    z-index: 999;

    height: 80vh;
    width: 50vw;
    
    border: 3px solid black;
    border-radius: 16px;
    background-color: #f0f0f0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    gap: 0;
}

#instructions-img,
.play .instructions #instructions-context-img {
    width: 38vw;
}

footer {
    height: 5vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filler.left {
    padding: 16px;

    text-align: start;
}

#how-to-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    font-size: 24px;
    text-align: center;
}

.close-btn {
    width: 100vw;
    height: 95vh;

    z-index: 998;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}